*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#222;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.game{
  position:relative;
  width:300px;
  height:500px;
  background:#555;
  overflow:hidden;
}

.score{
  position:absolute;
  top:10px;
  left:10px;
  color:#fff;
  font-size:18px;
  z-index:10;
}

.road{
  width:100%;
  height:100%;
  position:relative;
}

.line{
  position:absolute;
  width:10px;
  height:100px;
  background:#fff;
  left:145px;
  animation:moveLine 1s linear infinite;
}

.line:nth-child(2){ top:150px; }
.line:nth-child(3){ top:300px; }

@keyframes moveLine{
  0%{ top:-100px; }
  100%{ top:500px; }
}

.car{
  position:absolute;
  width:40px;
  height:70px;
  background:red;
  bottom:20px;
  left:130px;
  border-radius:5px;
}

.enemy{
  position:absolute;
  width:40px;
  height:70px;
  background:yellow;
  top:-100px;
  left:60px;
  border-radius:5px;
}

.startScreen{
  position:absolute;
  color:white;
  font-size:20px;
  background:rgba(0,0,0,0.8);
  padding:20px;
  cursor:pointer;
}