body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:#fff;
}

header{
  background:#020617;
  padding:15px;
  text-align:center;
  font-size:22px;
}

.dashboard{
  padding:10px;
  background:#1e293b;
  text-align:center;
}

.menu{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  padding:15px;
  justify-content:center;
}

.menu button{
  padding:10px;
  background:#334155;
  border:none;
  color:#fff;
  border-radius:6px;
  cursor:pointer;
}

.menu button:hover{
  background:#22c55e;
  color:#000;
}

.gameBox{
  background:#020617;
  margin:15px;
  padding:20px;
  border-radius:10px;
  text-align:center;
}

input{
  padding:8px;
  margin:10px;
}

button{
  padding:8px 15px;
  border:none;
  border-radius:5px;
  background:#22c55e;
  font-weight:bold;
  cursor:pointer;
}

body{
  font-family:Arial;
  background:#111;
  color:#fff;
  padding:20px;
}

button{
  padding:10px;
  margin:5px;
  cursor:pointer;
}