body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:#fff;
}

header{
  padding:15px;
  text-align:center;
  background:#020617;
  font-size:22px;
}

.dashboard{
  display:flex;
  justify-content:space-around;
  padding:10px;
  background:#1e293b;
  flex-wrap:wrap;
}

.menu{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
  gap:10px;
  padding:15px;
}

.menu button{
  background:#334155;
  border:none;
  color:#fff;
  padding:10px;
  border-radius:6px;
  cursor:pointer;
}

.menu button:hover{
  background:#22c55e;
  color:#000;
}

.gameBox{
  padding:20px;
  background:#020617;
  margin:15px;
  border-radius:10px;
}

button{
  padding:8px 14px;
  border:none;
  border-radius:5px;
  background:#22c55e;
  font-weight:bold;
  cursor:pointer;
}

input{
  padding:7px;
  margin:10px 0;
  width:200px;
}

#timerBox{
  font-weight:bold;
}